.suggestion-why {
	color: grey;
	font-size: 10px;
}

.not-mentioned-suggestion {
	color: grey;
	border: 1px solid grey;
	border-radius: 2px;
	margin-left: 10px;
}

.suggestion-connect {
	font-size: 50%;
}

.simple-hierarchy-matrix .backlink-pane{
	margin-top: 0px;
}

.simple-hierarchy-matrix table {
	background-color: var(--background-color-lt);
	table-layout: fixed;
	width: 100%;
}

.simple-hierarchy-matrix table, .simple-hierarchy-matrix table td {
	border: none;
	border-collapse: collapse;
	text-align: center;
}
